body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;
    
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#clock {
    font-size: 5em;
    font-weight: bold;
    margin-top: 20px;
}
